.display-center {
  @apply flex justify-center items-center
}
.display-between {
  @apply flex justify-between items-center
}
.login-form{
 @apply w-full 
}
.pointer{
  @apply cursor-pointer
}
.customBtn{
  @apply rounded-lg p-[14px] text-xs bg-primary text-priWhite
  /* transition: background-color 0.3s ease; */
}
.customBtn:hover,
.customBtn:focus,
.customBtn:active {
  @apply text-priWhite; /* Change background color on hover, focus, and active states */
}
.iconBorder{
  @apply p-2 rounded-lg border-[#000] border-[1px] text-[20px]
}

.topCard{
  @apply bg-primary text-priWhite p-6 rounded-2xl w-[20%] min-w-[20rem] flex-1 basis-[20rem]  shadow-blue-custom transition-transform duration-200 hover:translate-y-[-5px] max-w-[21rem]
}
.chip{ 
  @apply bg-primary text-priWhite w-fit py-1 px-4 rounded-2xl 
}
.dashboardDataModule{
  border-bottom: 1px solid #000;
  @apply display-between  bg-[#f9f9f9] p-2 
}
.contentMd{
  @apply text-base
}
/* .loader {
  @apply w-12 h-12 border-4 border-t-4 border-gray-200 rounded-full;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3C63FC;
  animation: spin 2s linear infinite;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  animation: pulse 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}




